body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subjects {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; /* Add some spacing below */
}

.buttons button {
    margin: 0; /* Remove any default margin */
}

.chapters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
